---
import ContactCta from "./ContactCta.astro";
import HeroSection from "./HeroSection.astro";
import PartnersStrip from "./PartnersStrip.astro";
import SiteFooter from "./SiteFooter.astro";
import SiteHeader from "./SiteHeader.astro";
import WhySection from "./WhySection.astro";
---

<SiteHeader />

<main>
  <HeroSection />
  <PartnersStrip />
  <WhySection />
  <ContactCta />
</main>

<SiteFooter />