<nav>
  <a href="/" class="logo">
    <div class="logo-icon">
        
    </div>
    <span class="logo-text">ZAD<span>MED</span></span>
  </a>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/contact" class="nav-cta">Contact Us</a></li>
  </ul>
</nav>